html {
	font-size: 18px;
}
.H-container{
	display : flex;
}
.execinput {
	margin: 2px;
	font-size: 18px; 
	font-weight: 400;
	width: 400px;
}
.execbutton {
	margin: 2px;
	margin-right: 20px;
	font-size: 18px; 
	font-weight: 400;
}
.mytitle {
	font-size: 40px; 
	font-family: '微軟正黑體' ;
	font-weight: 400;
}
.mytitle2 {
	font-size: 28px; 
	font-family: '微軟正黑體' ;
	font-weight: 400;
	padding-left: 20px;
}
.tablecontainer {
	height: 500px; 
	overflow-y: auto;   
	overflow-x: scroll; 
	border: 1px solid 
}
.reporttable {
	border-collapse: collapse;
}
.reporttable th {
	border: 1px solid #ddd; 
	background-color: #f2f2f2;
	min-width: 100px; 
	text-align: center; 
	white-space: nowrap;
	position: sticky;
	top: 0;
}

.reporttable td {
	border: 1px solid #ddd; 
	min-width: 100px; 
    white-space: nowrap;
	border: 1px solid #ddd; 
}
.highlight {
	background-color: yellow;
}
